@using Microsoft.AspNetCore.Components.Authorization
@inject TokenServiceReader tokenServiceReader

<MudPaper Width="250px" Class="py-3" Elevation="0" Style="position: fixed; top: 0; bottom: 0; left: 0;">
    <MudNavMenu>
        <MudText Typo="Typo.h6" Class="px-4">My Application</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Secondary Text</MudText>
        <MudDivider Class="my-2" />
        <MudCard Class="mx-4 mb-3">
            <MudCardContent>                
                <MudText Typo="Typo.h6" Class="text-center" Color="Color.Secondary">@welcomeMessage</MudText>
            </MudCardContent>
        </MudCard>
        <AuthorizeView>
             <Authorized>
            <MudNavLink Href="/"><h3>Salir</h3></MudNavLink>
            </Authorized>
        </AuthorizeView>            
        <AuthorizeView Roles="Admin">
            <Authorized>
                <MudNavLink Href=""><h3>Enviar Mje.</h3></MudNavLink>
            </Authorized>
            <NotAuthorized>
                <MudNavLink Href="/Employees"><h3>Ver Empleados</h3></MudNavLink>
               
                <MudNavLink Href=""><h3>Suggestions</h3></MudNavLink>
            </NotAuthorized>
        </AuthorizeView>          
    </MudNavMenu>
</MudPaper>

        
   
   
@code{
    private string welcomeMessage = "Bienvenido";
    //TokenServiceReader to get user name
    protected override async Task OnInitializedAsync()
    {
        var username = await tokenServiceReader.GetUsernameFromTokenAsync();

        if (!string.IsNullOrEmpty(username))
        {
            welcomeMessage = $"Bienvenido: {username}";
        }
        else
        {
            welcomeMessage = "Bienvenido: Usuario desconocido";
        }
    }
}