@using MudBlazor
@using UsersManagementsEmployees.Web.Components


@inherits LayoutComponentBase

<MudThemeProvider />
@*<MudPopoverProvider />*@
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar Color="Color.Primary">
        <h1>EMPLOYEES Administration</h1>
        <MudLink Color="Color.Inherit" Href="/"> </MudLink>
        <MudSpacer />
        <MudLink Color="Color.Inherit" Underline="Underline.None" Href="/register"> <h3>Registrarse</h3> </MudLink>
        <MudSpacer />
        <MudLink Color="Color.Inherit" Href="/login"><h2>ComeBack to Login</h2> </MudLink>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
