@page "/login"

@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using MudBlazor
@inject NavigationManager navigationManager

<!-- Aquí va tu MudAppBar (Navbar) -->

<MudContainer Class="d-flex justify-center align-center" Style="height: 100vh; margin-top: 20px;">
    <MudGrid Justify="Justify.Center" AlignItems="AlignItems.Center" Style="height: 50%;">
        <MudItem xs="12" sm="8" md="6" lg="4">
            <MudPaper Class="pa-4">
                <!-- Título "LOGIN" centrado -->
                <MudText Typo="Typo.h3" Align="Align.Center" Class="mb-4" Style="color: black; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">LOGIN</MudText>

                <!-- Formulario -->
                <EditForm FormName="Login" Model="userLogin" OnValidSubmit="OnValidSubmit" @ref="editForm">
                    <DataAnnotationsValidator />

                    <!-- Campo de Username -->
                    <MudTextField Label="USUARIO" @bind-Value="userLogin.UserName" For="@(() => userLogin.UserName)" FullWidth="true" />

                    <!-- Campo de Password -->
                    <MudTextField Label="PASSWORD" @bind-Value="userLogin.PassWord" For="@(() => userLogin.PassWord)" InputType="InputType.Password" FullWidth="true" />

                    <div class="d-flex justify-end mb-4 mt-4">
                        <MudLink Href="/register" Style="color: black; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
                            Registrarte
                        </MudLink>
                    </div>





                    <MudPaper Class="pa-8 mt-6">
                        <!-- Botón de inicio centrado -->
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" ButtonType="ButtonType.Submit" Class="mx-auto d-flex"
                                   Style="width: 250px; height: 50px; font-size: 20px;">INICIAR SESION</MudButton>
                    </MudPaper>
                </EditForm>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    // Modelo de datos para Login
    public class UserLoginVM
    {
        [Required]
        [StringLength(50, ErrorMessage = "El nombre no puede tener más de 50 caracteres.")]
        public string UserName { get; set; }

        [Required]
        [StringLength(100, ErrorMessage = "La contraseña no puede tener más de 100 caracteres.")]
        public string PassWord { get; set; }
    }

    // Instancia del modelo de login
    private UserLoginVM userLogin = new UserLoginVM();
    private EditForm? editForm = new();

    // Método que se ejecuta cuando el formulario es válido
    private void OnValidSubmit()
    {
        editForm?.EditContext.Validate();
        Console.WriteLine($"Usuario: {userLogin.UserName}, Contraseña: {userLogin.PassWord}");
    }
}
